<header>
  <img src="assets/Tam_headder.jpg" alt="Header Image" class="header-image" />
</header>
<div class="container">
  <h1>2025 TAM Membership Management</h1>
  <p>Total Guests: {{ totalGuests }}</p>
  <!--<input type="file" (change)="onFileChange($event)" accept=".xlsx, .xls" /> -->
  <button (click)="loadData()">Load Data</button>
  <input
    type="text"
    placeholder="Search by Name, Email, or Phone"
    [(ngModel)]="searchQuery"
  />

  <button (click)="openModal()">Add New Record</button>
  <button (click)="exportToExcel()">Save to Excel</button>

  <table>
    <thead>
      <tr>
        <th>Last Name</th>
        <th>First Name</th>
        <th>Email Address</th>
        <th>Phone no</th>
        <th>Membership Level</th>
        <th>Payment Mode</th>
        <th>Checked In</th>
        <th>Adults</th>
        <th>Kids</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let record of filteredData; let i = index">
        <td>{{ record["Last Name"] }}</td>
        <td>{{ record["First Name"] }}</td>
        <td>{{ record["Email Address"] }}</td>
        <td>{{ record["Phone no"] }}</td>
        <td>{{ record["Membership Level"] }}</td>
        <td>{{ record["Payment Mode"] }}</td>
        <td>
          <input
            type="checkbox"
            [(ngModel)]="record.CheckedIn"
            (change)="updateRecord(i, 'CheckedIn', $event)"
          />
        </td>
        <td>
          <select
            [(ngModel)]="record['Adults']"
            (change)="updateRecord(record, 'Adults', record['Adults'])"
          >
            <option *ngFor="let num of [1, 2, 3, 4]" [value]="num">
              {{ num }}
            </option>
          </select>
        </td>
        <td>
          <select
            [(ngModel)]="record['Kids']"
            (change)="updateRecord(record, 'Kids', record['Kids'])"
          >
            <option *ngFor="let num of [1, 2, 3, 4]" [value]="num">
              {{ num }}
            </option>
          </select>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Modal Popup -->
<div class="modal" *ngIf="isModalOpen">
  <div class="modal-content">
    <h2>Add New Record</h2>
    <label
      >Last Name:
      <input
        class="modal-input"
        type="text"
        [(ngModel)]="newRecord['Last Name']"
    /></label>
    <label
      >First Name:
      <input
        class="modal-input"
        type="text"
        [(ngModel)]="newRecord['First Name']"
    /></label>
    <label
      >Email Address:
      <input
        class="modal-input"
        type="text"
        [(ngModel)]="newRecord['Email Address']"
    /></label>
    <label
      >Phone No:
      <input
        class="modal-input"
        type="text"
        [(ngModel)]="newRecord['Phone no']"
    /></label>
    <label
      >Membership Level:
      <select class="modal-input" [(ngModel)]="newRecord['Membership Level']">
        <option value="Package/Family ($125)">Package/Family ($125)</option>
        <option value="Package/Couple ($100)">Package/Couple ($100)</option>
        <option value="Package/LifeMemberFamily ($100)">
          Package/LifeMemberFamily ($100)
        </option>
        <option value="Bangaru Kutumbam ($300)">Bangaru Kutumbam ($300)</option>
        <option value="Membership ($25)">Membership ($25)</option>
      </select>
    </label>
    <label
      >Payment Mode:
      <select class="modal-input" [(ngModel)]="newRecord['Payment Mode']">
        <option value="Cash">Cash</option>
        <option value="Stripe">Stripe</option>
        <option value="Venmo">Venmo</option>
        <option value="Zelle">Zelle</option>
        <option value="Check">Check</option>
      </select>
    </label>
    <label
      >Checked In: <input type="checkbox" [(ngModel)]="newRecord.CheckedIn"
    /></label>
    <label
      >Adults:
      <select [(ngModel)]="newRecord.Adults">
        <option *ngFor="let num of [1, 2, 3, 4]" [value]="num">
          {{ num }}
        </option>
      </select>
    </label>
    <label
      >Kids:
      <select [(ngModel)]="newRecord.Kids">
        <option *ngFor="let num of [1, 2, 3, 4]" [value]="num">
          {{ num }}
        </option>
      </select>
    </label>

    <button (click)="addNewRecord()">Add</button>
    <button (click)="closeModal()">Cancel</button>
  </div>
</div>
